
<%= bootstrap_form_for [@task] do |f| %>

	<%= f.hidden_field :user_id, value: current_user.id %>

	<div class="form-for-task">
		<div class="text-field"> 
			<%= f.text_field :name, layout: :horizontal, hide_label: :true, placeholder: "Tarea"  %>
		</div>
		<div class="submit-button">
			<%= f.submit "Ok" %>
		</div>
	</div>

	

<% end %>

