<div class="page ">	
	<div class= "container ">
		<div class= "row ">
			<div class= "col-sm-4 col-xs-12 ">
				<div class="table-heigth ">
					<% if current_user.days_with_tasks %>
						<% current_user.reload.agenda_hash.each do |key, value| %>
							<h6> <%= key %> </h6>
							<table class="table table-condensed table-hover table-settings ">
								<tr class=>
									<th class=> Nombre </th>
									<th class=> Eliminar </th>
								</tr> 
								<% value.each do |task| %>
									<%= display_task(task) %>
								<% end %>
							</table>
						<% end %>
					<% else %>
						<h3> No tasks in schedule </h3>
					<% end %>
				</div>
			</div>

			<div class= "col-sm-8 hidden-xs ">
				<div id="calendar">  </div>
			</div>
			
		</div>
	</div>


	<div class="form-for-task ">
		<%= render 'tasks/form_for_task' %>
	</div>
</div>



