


<div class="page red-border">	
	<div class= "container blue-border">
		<div class= "row green-border">
			<div class= "col-sm-6 col-xs-12 yellow-border">
				<div class="table-heigth border">
					<% for day in current_user.days_with_tasks.sort %>
						<% if day.to_date == Date.today %>
							<h2>Hoy</h2>
						<% elsif day.to_date == Date.today.next_day %>
							<h2>Mañana</h2>
						<% elsif day.to_date == Date.today.next_day.next_day %>
							<h2>Pasao</h2>
						<% else %>
							<h2><%= day.strftime("%A %u %b")%></h2>
						<% end %>
						<table class="table table-condensed table-hover table-settings border">
							<tr class=>
								<th> Nombre </th>
								<th> Eliminar </th>
							</tr> 
							<% for task in current_user.tasks.by_day(day) %>
								<%= display_task(task) %>
							<% end %>
						</table>
					<% end %>
				</div>
			</div>

			<div class= "col-sm-6 hidden-xs yellow-border">
				<h1> Sidebar </h1>
			</div>
			
		</div>
	</div>


	<div class="form-for-task border">
		<%= render 'tasks/form_for_task' %>
	</div>
</div>



