/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require_tree .
 */


.table-heigth {
	margin-bottom: 40px;
}

.stick-bottom {
	width: 300px;
	position: absolute;
	bottom: 0px;
	border: 1px solid gray;
}

.form-for-task {
	width: 350px;
	height: 50px;
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	background-color: white;
	border: 1px solid gray;
}

.form-for-task li {
	list-style-type: none;
}

.text-field {
	float: left;
	width: 78%;
	margin: -18px auto auto auto;
	border: 1px solid gray;
}

.submit-button {
	float: left;
	width: 20%;
	margin: auto auto auto auto;
	border: 1px solid gray;
}
