/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require_tree .
 */

.page {
	height: 100%;
}

.bigger-font {
	font-size: 130%;
}

.table-heigth {
	margin-bottom: 40px;
}


.form-for-task {
	width: 300px;
	height: 50px;
	position: relative;
	overflow: hidden;
	bottom: 0px;
	background-color: white;
}

.form-for-task li {
	list-style-type: none;
}

.text-field {
	float: left;
	width: 75%;
	margin: -18px auto auto auto;
}

.submit-button {
	float: left;
	width: 18%;
	margin: auto auto auto auto;
}

.border {
	border: 1px solid lightgray;
}

.red-border {
	border: 1px solid red;
}

.blue-border {
	border: 1px solid blue;
}

.green-border {
	border: 1px solid green;
}

.yellow-border {
	border: 1px solid yellow;
}

a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #333333;
}
